@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    background-color: #f1f1f1;
    font-family: 'Raleway', sans-serif;
}

.Toastify__toast-body {
    font-family: 'Raleway', sans-serif !important;
}